name: Test, Build and Deploy
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches:
      - master
jobs:
  ci:
    name: Test, Build and Delpoy
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup node.js
        uses: actions/setup-node@v1
        with:
          node-version: "10"

      - name: Install the dependencies of npm package canvas
        run: sudo apt-get -y install build-essential g++ libcairo2-dev libgif-dev libjpeg-dev libpango1.0-dev

      - name: Install node modules
        run: npm install

      - name: Test
        run: npm test

      - name: Build
        run: npm build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.5.9
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build
